{% extends 'TemasTemasBundle::admin.html.twig' %}

{% block article %}

    <h1>Lista de Boletin</h1>

    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Calificación Final</th>
                <th>Fecha Inicio</th>
                <th>Fecha Fin</th>
                <th>Activo</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('boletin_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.calificacionFinal }}</td>
                <td>{% if entity.fechaInicio %}{{ entity.fechaInicio|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if entity.fechaFin %}{{ entity.fechaFin|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.activo }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('boletin_show', { 'id': entity.id }) }}" ><i class="icon-list"> </i></a>
                    </li>
                    <li>
                        <a href="{{ path('boletin_edit', { 'id': entity.id }) }}"><i class="icon-edit"> </i></a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('boletin_new') }}">
                <i class="icon-plus-sign"></i>
                Crear nuevo Boletin
            </a>
        </li>
    </ul>
    {% endblock %}
