{% extends 'TemasTemasBundle::admin.html.twig' %}

{% block span %}
span8
{% endblock %}

{% block headerarticle %}
    <h3>Lista de Notas</h3>
{% endblock %}

{% block article %}
    {% set documento = '123' %}
    <div>
        <input type="text" name="search" placeholder="Documento Estudiante" >
        
        {# <a href="{{ path('ConsultarEstudiante') }}">ASD</a> #}
    </div>
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Estudiante</th>
                <th>Asignatura</th>
                <th>Calificación</th>
                <th>Descripción</th>
                <th>Fecha</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.id }}</td>
                <td>{{ entity.idEstudiante }}</td>
                <td>{{ entity.idAsignatura }}</td>
                <td>{{ entity.calificacion }}</td>
                <td>{{ entity.descripcion }}</td>
                <td>{% if entity.fecha %}{{ entity.fecha|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('nota_edit', { 'id': entity.id }) }}"><i class="icon-edit"> </i></a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('nota_new') }}">
                <i class="icon-plus-sign"></i>
                Registrar Nota
            </a>
        </li>
    </ul>

{% endblock %}
