{% extends 'TemasTemasBundle::admin.html.twig' %}

{% block article %}
    <h1>EstadoColegio</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Estadocolegio</th>
                <td>{{ entity.estadoColegio }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('estadocolegio') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('estadocolegio_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
