{% extends 'TemasTemasBundle::admin.html.twig' %}

{% block article %}
    <h1>Detalle Colegio</h1>

    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Idcolegio</th>
                <th>Idsede</th>
                <th>Actualyear</th>
                <th>Capacidades</th>
                <th>Discapacidades</th>
                <th>Modeloeducativo</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('detallecolegio_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.idColegio }}</td>
                <td>{{ entity.idSede }}</td>
                <td>{{ entity.actualYear }}</td>
                <td>{{ entity.capacidades }}</td>
                <td>{{ entity.discapacidades }}</td>
                <td>{{ entity.modeloEducativo }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('detallecolegio_show', { 'id': entity.id }) }}"><i class="icon-list"></i></a>
                    </li>
                    <li>
                        <a href="{{ path('detallecolegio_edit', { 'id': entity.id }) }}"><i class="icon-edit"></i></a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

<br>
{% for rol in app.user.roles %}
    {# Solo puede crear el super Man #}
    {% if rol.role == 'ROLE_SUPER_ADMIN' %}
        <a href="{{ path('detallecolegio_new') }}">
            <i class="icon-plus-sign"></i>
            Crear un nuevo Detalle
        </a>
    {% else %}
        <a href="{{ path('direccion') }}"> Consultar Dirección</a>
        <br>
        <a href="{{ path('colegio_admin_perfil') }}"><i class="icon-arrow-left"> Volver</i></a>
    {% endif %}
{% endfor %}

{% endblock %}
