{% extends 'TemasTemasBundle::admin.html.twig' %}

{% block article %}
    <h1>Direccion</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Direccioncompleta</th>
                <td>{{ entity.direccionCompleta }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('direccion') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('direccion_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
