{% extends 'TemasTemasBundle::admin.html.twig' %}

{% block article %}
{% for rol in app.user.roles %}
        {#   #}
        {% if rol.role == 'ROLE_SUPER_ADMIN' %}
        <h1>Lista de Colegios</h1> 
        {% else %}
        <h1>Tú Colegio</h1>
        {% endif %}
{% endfor %}
    <br>
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Email</th>
                <th>Telefono</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('colegio_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.nombre }}</td>
                <td>{{ entity.email }}</td>
                <td>{{ entity.telefono }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('colegio_edit', { 'id': entity.id }) }}"><i class="icon-edit"> </i></a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% for rol in app.user.roles %}
            {# Solo habilita el botón de crear para el Super Man  #}
            {% if rol.role == 'ROLE_SUPER_ADMIN' %}
                <a href="{{ path('detallecolegio')}}"><i class="icon-list"> Ver Detalle</i></a>
                <a href="{{ path('colegio_new') }}">
                    <i class="icon-plus-sign"></i>
                     Crea un nuevo registro
                </a>
            {% elseif rol.role == 'ROLE_ADMIN' %}
                <a href="{{ path('detallecolegio')}}"><i class="icon-list"> Ver Detalle</i></a>
            {% endif %}
        {% endfor %}
        <hr>
        <h1>Sedes</h1>
        <br>
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre Sede</th>
                <th>estado</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for sede in sedes %}
            <tr>
                <td width="60"><a href="{{ path('sede_show', { 'id': sede.id }) }}">{{ sede.id }}</a></td>
                <td width="622">{{ sede.nombreSede }}</td>
                <td width="222">{{ sede.estado }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('sede_show', { 'id': sede.id }) }}"><i class="icon-list"></i></a>
                    </li>
                    <li>
                        <a href="{{ path('sede_edit', { 'id': sede.id }) }}"><i class="icon-edit"> </i></a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
        <a href="{{ path('sede_new') }}">
            <i class="icon-plus-sign"></i>
            Crear nueva Sede
        </a>
    <hr>
    {% endblock %}
