{% extends 'TemasTemasBundle::admin.html.twig' %}

{% block article %}
    <h1>Rector</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Apellidos</th>
                <th>Email</th>
                <th>Teléfono</th>
            </tr>
            <tr>
                <td>{{ entity.id }}</td>
                <td>{{ entity.nombre }}</td>
                <td>{{ entity.apellidos }}</td>
                <td>{{ entity.email }}</td>
                <td>{{ entity.telefono }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('rector') }}">
            Regresar al Listado
        </a>
    </li>
    <li>
        <a href="{{ path('rector_edit', { 'id': entity.id }) }}">
            Editar
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
